<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Somebody owes me {{amount | currency:'INR'}}
  </h1>

    This is a test string
  <br /> <br/> <br/>
  {{"This is another test string"| reverse}}
  </div>
<button class="btn btn-primary" (click)="toggleFlag()"></button>
<div *ngIf="checkVar; then yesComponent else noComponent"></div>


<ng-template #yesComponent>
  <h1>Yes!!!!!!!</h1>
</ng-template>

<ng-template #noComponent>
  <h1>No!!!!!!!</h1>
</ng-template>-->

<!--directive example-->
<div>
  <p>This is a normal line</p>
  <p appRedblack>This is a custom line</p>
</div>
